<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.skyler.data.home.PersonMapper">

	<resultMap id="person" type="com.skyler.domain.Person">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="role" column="role"></result>
	</resultMap>

    <select id="list" resultMap="person">
        SELECT * FROM person
    </select>

    <select id="getById" resultMap="person">
        SELECT * FROM person WHERE id=#{id}
    </select>
</mapper>