<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.skyler.data.school.StudentMapper">

	<resultMap id="student" type="com.skyler.domain.Student">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="age" column="age"></result>
        <result property="ctime" column="ctime"></result>
	</resultMap>

    <select id="list" resultMap="student">
        SELECT * FROM student
    </select>

    <select id="getById" resultMap="student">
        SELECT * FROM student WHERE id=#{id}
    </select>

    <update id="updateNameById">
        UPDATE student SET name=#{name} WHERE id=#{id}
    </update>
</mapper>